# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.project
.classpath
.settings/
nbproject/
*.iml
*.iws
*.ipr
.vs/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db